.DS_Store
venv/
.git/
.ipynb_checkpoints/
__pycache__/
*.zip
data-files/*
!data-files/cluster-plots/
!data-files/clustering-data/
!data-files/ngram_replacements.json
!data-files/abbr.json
!data-files/replace_stopwords_orgs.txt
*.model